extends layout

block content
  .row
    .twelve
      h1 POST API

  .row
    .twelve
      h2 Authentication

  .row
    .twelve
      p Teams must supply identifying information in the form of a custom header
        code x-team-id
      pre
        code x-team-id: jrob
      p Failure to provide this header will result in a 401 response.
      pre
        code
          | {
          |   "error": "Missing x-team-id header"
          | }

  .row
    .twelve
      h2 Endpoints
      h3 Products
      h4 Read (list all)

      p Retrieve json listing of products available in this POST.
      pre
        code GET /products

      p Returns an array of products in the following format:
      pre
        code
          | [{
          |  upc: "CX14",
          |  description: "Wine - Niagara,vqa Reisling",
          |  price: "$79.75"
          | }]

      h3 Sales
      h4 Read (list all)

      p Retrieve a json listing of sales made in this POST.
      pre
        code GET /sales

      h5 200
      p Returns an array of sales in the following format:
      pre
        code
          | [{
          |  "id": 6,
          |  "sale_data": {
          |    "customer": "John Roberts",
          |    "timeOfSale": "2019-02-11T06:46:51.623Z",
          |    "items": [
          |      {
          |        "upc": "1234",
          |        "quantity": 2,
          |        "price": 123.45
          |      }
          |    ],
          |    "total": 1234.56,
          |    "tendered": {
          |      "type": "CASH",
          |      "amount": 1235.56
          |    },
          |    "returned": 1
          |  },
          |  "created_at": "2019-02-11T19:25:09.687Z"
          | }]

      h4 Read (by ID)

      p Retrieve a sales record for a given ID.
      pre
        code GET /sales/:id

      h5 200
      p Returns a sales object in the following format:
      pre
        code
          | {
          |   "customer": "John Roberts",
          |   "timeOfSale": "2019-02-11T06:46:51.623Z",
          |   "items": [
          |     {
          |       "upc": "1234",
          |       "quantity": 2,
          |       "price": 123.45
          |     }
          |   ],
          |   "total": 1234.56,
          |   "tendered": {
          |     "type": "CASH",
          |     "amount": 1235.56
          |   },
          |   "returned": 1
          | }

      h4 Create

      p Create a sale. Requires a JSON body containing the sales data.
      pre
        code PUT /sales
          |
          | {
          |   "customer": "John Roberts",
          |   "timeOfSale": "2019-02-11T06:46:51.623Z",
          |   "items": [
          |     { "upc": "1234", "quantity": 2, "price": 123.45 }
          |   ],
          |   "total": 1234.56,
          |   "tendered": {
          |   "type": "CASH",
          |   "amount": 1235.56
          |   },
          |   "returned": 1.00
          | }

      h5 201
      p Returns an object containing the ID for the newly created sales entry:
      pre
        code
          | {
          |   "id": 4
          | }

      h5 400
      p Returns an object with an errors key that specifies validation errors
      pre
        code
          | {
          |   "error": [
          |     "A tendered type (CASH, CHECK, or CREDIT) must be provided",
          |     "A valid tendered object must be provided to validate returned field"
          |   ]
          | }

      h3 Payments

      h4 Check
      p Validate a check. Requires a JSON body specifying the check amount:
      pre
        code POST /payments/check
         |
         | { amount: 1234.56 }

      h5 202
      p If the check is accepted, a 202 response will be sent with no body.

      h5 400
      p Returns an object with an error key that specifies validation errors
      pre
        code
          | {
          |   "error": "Check amount is required"
          | }

      h5 406
      p If the check is not accepted, a 406 will be sent with no body.

      h4 Credit
      p Validate a credit card purchase. Requires a JSON body specifying the amount and card number:
      pre
        code POST /payments/credit
         |
         | { amount: 1234.56, cardNumber: 123456 }

      h5 202
      p If the credit card is accepted, a 202 response will be sent with no body.

      h5 400
      p Returns an object with an error key that specifies validation errors
      pre
        code
          | {
          |   "error": [
          |     "Credit amount is required",
          |     "Card number is required"
          |   ]
          | }

      h5 406
      p If the credit card is not accepted, a 406 will be sent with no body.